* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 227, 227);
  font-family: 'Poppins', sans-serif;
}

.App {
  max-width: 75%;
  margin: 8% 10%;
  background: wheat;
  border-radius: 10%;
}

.Nav {
  color: #ff5a5f;
  padding: 1.5% 4%;
  background: aliceblue;
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.4);
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 4%;

}

.grid-img {
  align-self: center;
  width: 40%;
  margin-top: 3%;
  border: 2px solid grey;
  margin-bottom: 2%;
}

.sec-h1 {
  text-decoration: underline;
}

.sec-p {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.Cards {
  display: flex;
  gap: 1%;
  margin: 0 2%;
  padding-bottom: 5%;
}

.card {
  box-shadow: 5px 5px 5px 5px aliceblue;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sold {
  position: absolute;
  top: 6px;
  left: 10px;
  background: rgb(234, 223, 223);
  padding: 0 4px;
}

.nina-pic {
  width: 80%;
  align-self: center;
}

.peru {
  background: grey;
  width: auto;
  border-radius: 15px;
  padding: 3px 7px;
}
